# Python

Python — высокоуровневый язык программирования общего назначения. Он является интерпретируемым языком программирования. Это означает, что программы, написанные на этом языке программирования выполняются специальной программой - интерпретатором, что отличает его от многих других языков программирования, таких как C/C++, Pascal, Delphi, Basic, etc.

У данного подхода есть существенный недостаток: производительность. Программа на Python может исполняться медленее, чем аналогичная программа на C++ в несколько раз. 

Однако интерпретируемость предоставляет и весьма приятные преимущества:
* Кроссплатформенность - код вашей программы может быть запущен на любой машине, на которой установлен интерпретатор питона (а это почти все современные компьютеры)
* Метапрограммирование - возможность программы модифицировать саму себя во время исполнения
* Динамическая типизация позволяет писать более гибкий и понятный код
* Python позволяет писать более компактно и лаконично, делая код более понятным и экономя время и силы разработчика

Также Python снабжен богатой стандартной библиотекой, позволяющей решить большинство задач, встречающихся на пути пользователя

In [1]:
# Поприветствуем этот мир!
print("Hello world!")

Hello world!

# Математические операции

In [2]:
# Питон позволяет использовать все основные математические операции
2 + 2

4

In [3]:
7 - 3

4

In [4]:
3 + 7 * 9

66

In [5]:
# В арифметических выражениях также можно использовать круглые скобки. 
# Их смысл такой же как и в математике
(3 + 7) * 9

90

In [6]:
((2 - 3) * 4) * (5 + 6)

-44

In [11]:
# Существует два вида деления в питоне
# Классическое деление
5 / 4

1.25

In [10]:
# Деление нацело
5 // 4

1

In [12]:
7 // 10

0

In [16]:
# Также возможно взятие отстатка от деления
3 % 2

1

In [18]:
5 % 3

2

In [19]:
# В Питоне существует оператор возведения в степень
2 ** 4

16

In [20]:
3 ** 9

19683

In [23]:
4 ** 100

1606938044258990275541962092341162602522202993782792835301376

In [24]:
# Питон умеет оперировать не только целыми, но и рациональными числами
# Рациональные числа записываются с использованием точки для разделения целой и дробной части
2.7 * 5.6

15.12

In [26]:
2.71 ** 3.14

22.883559193263366

# Переменные

In [27]:
# Питон обладает динамической типизацией
# Это означает, что нет необходимости указывать тип переменной. Достаточно просто присвоить ей какое-то значение
# Питон сам создаст переменную и запишет в нее нужное значение
a = 2.71

In [30]:
# Создавать заранее переменные в питоне нельзя - оно всегда происходит при присваивании значения
b
b = 4 # Неправильно

c = 4 # Правильно

NameError: name 'b' is not defined

In [34]:
# Числа - далеко не единственное, что можно записывать в переменные
# К примеру, можно использовать строки, булевы переменные, комплексные числа и тд

a = "Python" # Строка
b = True # Булево значение "Истина"
c = False # Булево значение "Ложь"
d = 2 + 3j # Комплексное число

In [35]:
# Чтобы узнать, какой тип у переменной, необходимо применить функцию type
type(a)

str

In [36]:
type(b)

bool

In [37]:
type(d)

complex

In [40]:
type(type(a))

type

In [42]:
# Для обозначения "ничего" существует специальное значение None
# Его можно использовать для обозначения "пустой переменной" (к примеру, если все таки очень хочется создать
# переменную заранее )
b = None
b = 4

In [43]:
a = None
type(a)

NoneType

In [47]:
# Для приведения типов переменных необходимо использовать соответствующие фуникции int(), str(), float(), etc.
a = 5.3
b = int(a) # Приведение к целому числу
b

5

In [50]:
a = str(23) # Приведение к строке "23"
type(a)

str

In [51]:
a = int("123") # Преобразование строки к числу
b = a + 7
b

130

In [52]:
a = float("23.56")
b = a * 2
b

47.12

In [3]:
# Для удобства в Python есть операторы += -= *= etc
# Они позволяют изменять значение переменной

a = 10
a += 5
a = a + 5 # идентичные строки
a

20

In [57]:
a = int("Пять") # Нет, так, увы, не работает :)
# Строки к числам приводятся, если в строке присутствуют только число в соответсвующией форме

ValueError: invalid literal for int() with base 10: 'Пять'

In [59]:
# Однако не обязательно ограничиваться только числами, записанными в десятичной системе счисления
# Для указания системы счисления, нужно передать соответствующиее число вторым аргументом
a = int("FF", 16) # Перевод 16-ричного FF в число 255
a

255

In [62]:
a = int("AB12", 13)
a

23844

In [63]:
a = int("9", 6) # 9 не является числом, записанным в 6-ричной системе счисления

ValueError: invalid literal for int() with base 6: '9'

In [64]:
# Для вывода значеняи переменной на экран, необходимо воспользоваться функцией print
a = 56
print(a)
b = "Shaker shaker!"
print(b)
c = True
print(c)
d = None
print(d)

56
Shaker shaker!
True
None

In [65]:
# Также в print можно передавать переменные через запятую и они все будут выведены по порядку
print(a, b, c, d)

56 Shaker shaker! True None

In [67]:
# Чтобы вывести их не в одной строчке, а каждую переменную на отдельной строчке, необходимо это указать, передав
# функции print последний аргумент sep = '\n'
print(a, b, c, d, sep='\n')

56
Shaker shaker!
True
None

In [68]:
# Вместо '\n' можно передать любую строчку, которую вы хотите видеть между переменными
print(a, b, c, d, sep=' Yolo ')

56 Yolo Shaker shaker! Yolo True Yolo None

In [1]:
# Также можно использовать форматирование для более удобного вывода
print("{0} + {1} = {2}".format(5, 4, 9)) # Элементы в фигурных скобках заменяются на соответствующие аргументы
print("{number} груш {varieties} по цене {cost}$".format(number=7, varieties="Дюшес", cost=5.6))
# В функцию форматирования можно передавать значения любых типов

5 + 4 = 9
7 груш Дюшес по цене 5.6$

# Условный оператор

In [71]:
# C одними переменными много не напишешь
# Для управления поведением программы в Питоне существует условный оператор if

# после if необходимо записать условие перехода
# если условие оказывается истинным, управление переходит к коду, написанному под данными if
# в противном случае, проверяется следующиее условие в конструкции до того момента, пока или не найдется 
# истинное условие или не достигнется оператор else. 
if 2 > 5:
    print("Два больше, чем пять")
elif 2 < 5:
    print("Два меньше, чем пять")
else:
    print("Два равно пяти")

Два меньше, чем пять

In [73]:
# Операторы elif и else можно не использовать
if 2 * 2 == 4:
    print("Дважды два четыре!")

Дважды два четыре!

In [72]:
# В условии можно применять логические операции, такие как логическое И, логическое ИЛИ и тд
a = 5
b = 7 
c = "GoGo"

if (a < b) and (c == "Go"):
    print("A")
elif (a < b) and (c == "GoGo"):
    print("B")

B

In [78]:
# Условия могут быть сколь угодно сложными

if ( (a == b) or (a < b) ) and (type(c) == str):
    print("a меньше или равно b и в переменной c записана строка")

a меньше или равно b и в переменной c записана строка

In [80]:
# Логические операции можно использовать и вне if
# Каждая такое условие возвращает булеву переменную True или False в зависимости от верности условия
d = (a == b) or (a < b)
print(d)

True

In [86]:
# Для удобства в Питоне есть операции сравнения <= и >= 
d = (a == b) or (a < b)
e = a <= b              # Записи эквиавалентны

In [81]:
# Булевы переменные сами могут выступать в качестве условия в if
d = ( (a == b) or (a < b) ) and (type(c) == str)
if d:
    print("a меньше или равно b и в переменной c записана строка")

a меньше или равно b и в переменной c записана строка

In [83]:
# Условные конструкции можно вкладывать друг в друга
# Важно помнить о необходимости делать необходимое количество отступов
if 3 + 2 == 5:
    if 10 ** 2 == 5 ** 4:
        print("ABC")
    elif 2 ** 4 == 256 ** (0.5):
        print("DEF")

DEF

In [ ]:
if 5 != 6:
    print("Пять не равно шести")

In [10]:
# В качестве замены тернарного оператора (который присутствует например в С++) в питоне есть
# однострочный if-else

a = 7
b = 4 if a > 10 else 6 # конструкция вернет 4 если a > 10 и 6 в противном случае
c = 4 if a < 10 else 6
print(b)
print(c)

6
4

In [12]:
a = -8.6
b = 3

print(a if a >= 0 else -a) # вывод модуля числа
print(b if b >= 0 else -b)

8.6
3

# Циклы

In [87]:
# Для повторения каких-то действий произвольное количество раз в Питоне существуют циклы

# Цикл for в Питоне отличается от цикла for в других языках программирования (например C/C++)
# В Питоне циклу for необходим объект, который содержит в себе множество значений

s = "Notebook"

for c in s: # строка - объект, который содержит в себе множество единичных символов
    print(c) # for пройдет каждый символ в строке и на каждом символе запустит код, написанный ниже,
             # записав значение соответствующего символа в переменную c

N
o
t
e
b
o
o
k

In [88]:
# Функция range(n) создает объект, содержащий набор из упорядоченных чисел от 0 до n (невключительно)
# Таким образом, чтобы запустить какой-то код какое-то количество раз, можно использовать цикл for
# передав ему объект range

for i in range(5):
    print("Hubba-Bubba") # эта строка выполнится 5 раз

Hubba-Bubba
Hubba-Bubba
Hubba-Bubba
Hubba-Bubba
Hubba-Bubba

In [89]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [90]:
# В range, естественно можно передавать не толко константы, но и переменные

a = 4
for i in range(a):
    print(i ** 2)

0
1
4
9

In [91]:
for i in range(5):
    if i % 2 == 0:
        print(i, " - четное число")
    else:
        print(i, " - нечетное число")

0  - четное число
1  - нечетное число
2  - четное число
3  - нечетное число
4  - четное число

In [92]:
# Можно указать и любой другой диапазон для range
# Для этого нужно передать в range два аргумента - начало и конец (конец не включительно)

for i in range(5, 10):
    print(i)

5
6
7
8
9

In [93]:
# Также можно указать шаг (то есть расстояние между числами в range)

for i in range(10, 50, 5):
    print(i)

10
15
20
25
30
35
40
45

In [94]:
# Шаг можно сделать даже отрицательным
# Важно помнить, что при отрицательном шаге, начало диапазона должно быть больше конца

for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [96]:
# Если необходимо прервать цикл в какой-то момент, то для этого существует оператор break

for i in range(10):
    print(i)
    if i > 6:
        break

0
1
2
3
4
5
6
7

In [97]:
# Также можно мгновенно перейти к следующей итерации цикла. Для этого существует оператор continue

for i in range(10):
    if i % 2 == 0: # все итерации, на которых i - четное число, сразу переходят на следующую итерацию
        continue
    print(i)

1
3
5
7
9

In [98]:
# После for можно использовать оператор else. 
# Код, написанный под оператором else будет запущен после успешного окончания цикла

for i in range(3):
    print(i)
else:
    print("Else!")

0
1
2
Else!

In [99]:
# Однако, если цикл был прерван, то переход в else не будет осуществлен

for i in range(10):
    if i > 4:
        break
    print(i)
else:
    print("Else!")

0
1
2
3
4

In [100]:
# Цикл while в Питоне устроен проще
# Он запускает код, пока верно условие, которое ему передали

a = 0
while a < 5:
    print(a)
    a = a + 1

0
1
2
3
4

In [101]:
# Операторы break, continue и else действуют также как и в цикле for

i = 0
while True:
    print(i)
    i += 1
    if i > 15:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [102]:
i = 0
while i < 15:
    i += 1
    if i % 3 == 0:
        continue
    print(i)

1
2
4
5
7
8
10
11
13
14

In [104]:
i = 1
while i <= 10:
    print(i)
    i += 1
else:
    print('Цикл окончен, i =', i)

1
2
3
4
5
6
7
8
9
10
Цикл окончен, i = 11

In [2]:
# Пример: поиск простых чисел с использованием for-else:
for n in range(2, 10):
    x_range = range(2, n)
    for x in x_range:
        if n % x == 0:
            break
    else:
        # Если у n не нашлось ни одного делителя, то break не вызовется ни разу и мы попадем в эту ветку кода
        print("{0} - простое число".format(n))

2 - простое число
3 - простое число
5 - простое число
7 - простое число

In [8]:
# Пример: проверка равенства суммы нечетных чисел меньших n и квадрата n
for n in range(1, 101):
    summ = 0
    for x in range(1, n + 1):
        summ += (2*x - 1)
    if summ != n ** 2:
        print("Нарушение равенства!")
        break
else:
    print("Равенство верно на первых 100 числах")

Равенство верно на первых 100 числах